.App {
  text-align: center;
  /*background:url(https://img.freepik.com/free-vector/coffee-newspaper_1325-142.jpg?t=st=1655159733~exp=1655160333~hmac=6304de2bc09720c84c5819b592032578f12c34d803d5e86bfc5166d16e238fc5&w=1060) left top repeat;
  background-size: 100px 80px;
  background-repeat: no-repeat;
  padding: 80px;
  */
  background-color: #2c5f2d62;
  color: #2BAE66FF;

  


}

.Header{
  padding: 10px;
  text-align: center;
  background: #2c5f2d0e;
  color: #2BAE66FF;
  font-size: 1.2rem;
  
}
.ShowAllArticles {
  border:3px #2BAE66FF solid;
  border-radius: 20%;
  display:flex;
  margin:2rem;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ShowAllArticles__Article{
  border:3px #2BAE66FF solid;
  color: #2BAE66FF;
  display:flex;
  margin:1rem;
  padding: 5px;
  flex-direction: column;
  width: 28%;
  align-items: center;

}
.snow{
  color: #2BAE66FF;


}
.thumbnail {
  width: 75%;
}
.listElements{
  padding: 5px;
  /* text-align: center; */
  background: #F8B195;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.listElements > span {
  margin-left: 2rem;
  margin-right: 2rem;
}